@import "tailwindcss";

@keyframes slideInLeft {
  0% {
    transform: translateX(-200px) translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0) translateY(-50%);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(200px) translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0) translateY(-50%);
    opacity: 1;
  }
}

.animate-slideInLeft {
  animation: slideInLeft 0.5s ease forwards;
}

.animate-slideInRight {
  animation: slideInRight 0.5s ease forwards;
}

.clip-header {
  clip-path: polygon(0 0, 100% 0, 100% 65%, 0 100%);
}
